
{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">  -->
</head>
<link rel="stylesheet" href= "{% static 'index.css' %}">
<body>

   <!--  <div class="questionDes", data-id="0">
        
        start with a question
        


    </div>

    <div class="detailed">      

        {% for post in posts%}
            <a href="#" class="button", data-id="{{ post.id }}"> {{ post.id }}</a>
        {% endfor %}
        
    </div>

    <div class="Buttons">

      <button class="next">
        NEXT
      </button>


    </div>

    {% if request.user.is_authenticated %}
      <h2>{{ user.email }}</h2>
      <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Fp8WQrYbQDSnBq"> </script> </form>
    {% else %}
      <h2> Please LogIn </h2>

    {% endif %}
 -->



{% block content %}
  
    <div class="questionDes", data-id="0">
        
      start with a question
      


    </div>

    <div class="detailed">      

        {% for post in posts%}
            <a href="#" class="button", data-id="{{ post.id }}"> {{ post.id }}</a>
        {% endfor %}
        
    </div>

    <div class="Buttons">

      <button class="next">
        NEXT
      </button>


    </div>

    <h2>{{ request.user.email }}</h2>
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Fp8WQrYbQDSnBq" data-email_id = {{request.user.email}}> </script> </form>
    
    <!-- {% if request.user.is_authenticated %}
      <h2>{{ user.email }}</h2>
      <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Fp8WQrYbQDSnBq"> </script> </form>
    {% else %}
      <h2> Please LogIn </h2>

    {% endif %} -->

{% endblock content %}

    



    <!-- {% for post in posts %}

    

        <h1>  {{ post.description }} </h1>
        <h2>  {{ post.id }}</h2>
    {% endfor %} -->



    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    
    <script>
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
  
      $(document).ready(function(){

        $('a.button').click(function(e){
            e.preventDefault();
            $.post('{% url "question_filter" %}',
            {
                questionId: $(this).data('id'),
            },
            function(data){
                console.log(data['status'])
                if (data['status'] == 'ok')
                {

                var instance = JSON.parse(data["desiredQuestion"]);
                var fields = instance[0]["fields"];

                // toggle link text
                // console.log(instance);
                $('div.questionDes').text(fields["description"]);
                $('div.questionDes').data('id', instance[0]["pk"]);
                // console.log($('div.questionDes').data('id'));
                }
            }
            );
        });

        $('button.next').click(function(e){
            e.preventDefault();
            var currentQuID = $('div.questionDes').data('id');

            $.post('{% url "question_filter" %}',
            {
                questionId: currentQuID + 1,
            },
            function(data){
                console.log(data['status'])
                if (data['status'] == 'ok')
                {

                var instance = JSON.parse(data["desiredQuestion"]);
                var fields = instance[0]["fields"];

                // toggle link text
                // console.log(instance);
                $('div.questionDes').text(fields["description"]);
                // $('div.questionDes.css').
                $('div.questionDes').data('id', instance[0]["pk"]);
                
                }
            }
            );
        });


        // {% block domready %}
        // {% endblock %}
      });
    </script>

</body>
</html>




